<!--Transparently, the scope is the same -->

{{lazyContent}}
<br><br>
<img ng-src="{{s.img}}">
<h1>{{s.name}}</h1>
<h3>{{s.description}}</h3>

<div>
    <div>
        <hover-card data-hover-card-template="demo_template_saga_links.html" ng-if="s.links.length"
                    style="border: 1px solid black;padding: 10px;background-color: cornsilk">Länkar
        </hover-card>
    </div>
</div>