#trigger1 {
    background-color: aqua;
}

#trigger2 {
    background-color: bisque;
    width: 500px;
    height: 600px;
    margin-left: 100px;
    margin-top: 150px;
}

#trigger3 {
    background-color: lavender;
    text-align: center;
    margin: 40px 100px;
}

/* Designa utseendet på hovercardet enligt tycke och smak */
hover-card-dialog {
    background-color: #803c31;
    font-weight: bold;
    font-size: large;
    /*width: 500px;*/
    /*height: 150px;*/
    padding: 20px;
    border: 2px solid black;
}

#trigger2 hover-card-dialog{
    background-color: #4c8040;
    /*width: 200px;*/
}
#hoverMe hover-card-dialog{
    background-color: #c59cc6;
    width: 200px;
    height: 200px;
    text-align: center;
}

/* Hovercard för Bamse och hans vänner */
.saga hover-card-dialog {
    background-color: #91c355;
    font-weight: bold;
    font-size: large;
    padding: 20px;
    /*border: 2px solid black;*/

    /*height: 333px;    !* 373 med padding... 377 med annat joxx *!*/
    /*overflow: auto;*/

    z-index: 100;
    text-align: center;
}

/* Skapa scroll */
body {
    /*width: 2000px;*/
    height: 3000px;
}