<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hovercard demo</title>

    <link rel="stylesheet" href="demo.css">
</head>
<body ng-controller="demoController">
<h2>This is demo of Hovercard</h2>

<br>
{{greeting}}<br><br>
<hover-card ng-repeat="s in saga" style="cursor: pointer;" hover-card-template="demo_template_saga.html" class="saga"
            hover-card-callback-in="fillContent($index+1)" hover-card-callback-out="emptyContent(s.name)">
    Namn: {{s.name}}<br>
    Beskrivning: {{s.description}}<br><br>
</hover-card>

<br><br>

<hover-card hover-card-template="temp1.html" >
    <input type="text" ng-model="textbox">
</hover-card>

<!-- Templates can be defined inline, but its preferred to define them in separate files -->
<script type="text/ng-template" id="temp1.html">
    ... some template stuff
</script>

<br><br>

<!-- Note that some element cannot have children so hover-card needs to be placed on a wrapper -->
<span hover-card>
    <textarea></textarea>
</span>
<br><br>

<!-- If no template explicitly defined, contents are treated as template for the hovercard -->
<span hover-card id="trigger1" data-hover-card-callback-in="hcOpen('Den spanska räven')">
    Den spanska räven rev en annan räv. <br>

    <hover-card data-hover-card-callback-in="hcOpen('The rain in Spain')">
        The rain in Spain stays mainly in the plain
        <br>
         <hover-card data-hover-card-callback-in="hcOpen('The rain in Spain 2')">
        The rain in Spain 2 stays mainly in the plain
    </hover-card>
    </hover-card>


</span>

<br><BR>

<div hover-card style="background-color: aqua">
    Tjolahopp<br>
    Tjolahopp<br>
    Tjolahopp<br>
    Tjolahopp<br>
    Tjolahopp<br>
    <div id="wrapper">
        <!-- Don´t nest hovercard´s inside hovercard´s, unless in templates (and then render as sub-hovercards) -->
        <hover-card data-hover-card-template="demo_template1.html" id="trigger11">Lorem ipsum 11</hover-card>
    </div>
</div>

<br><br>

<hover-card>
    <div id="wrapper2">
        <hover-card data-hover-card-template="demo_template1.html" id="trigger112">Lorem ipsum 11_2</hover-card>
    </div>
</hover-card>


<div id="trigger2" hover-card data-hover-card-template="demo_template1.html">
    Dolor sit amet<br><br>
    <div style="transform: scale(-1, 1)">Dolor sit amet</div>
</div>

<div style="position: absolute;top: 10px;left: 450px;width: 300px;height: 333px;background-color: cornsilk;overflow: hidden;z-index: 10">
    <div style="width: 400px;height: 200px;background-color: aqua;overflow: hidden;">
        This div has overflow:hidden/scroll<br>
        <big><em>and z-index:10</em></big>

        <div id="trigger3" hover-card data-hover-card-callback-in="inlineOpen()">Consectetur adipiscing elit {{lazyContent}}</div>

    </div>
</div>


<!-- DON`T USE JQUERY ! -->
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-resource.min.js"></script>-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<!--<script src='dist/angular-hovercard.min.js'></script>-->
<script src='dist/angular-hovercard.min.js'></script>

<script>

    angular.module('myApp', ['ngResource', 'omninova.ngHoverCard'])
        .controller('demoController', function ($scope, $resource, $timeout) {

            $scope.greeting = 'Hello world!';

            $scope.saga = [
                {
                    name: 'Bamse',
                    description: 'Värdens starkaste björn',
                    img: 'img/bamse.jpg',
                    links: [
                        'https://www.google.se/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwj7i5u7qo3SAhXmYpoKHZlwCOIQFggiMAE&url=http%3A%2F%2Fwww.bamse.se%2Fbamseskoj-alla%2Fspel%2F&usg=AFQjCNHKJX1TVc0HZgAz7ququqi1spKM2w&sig2=dgIDyM2e6YOhlKvSjcTo3w',
                        'https://www.google.se/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0ahUKEwj7i5u7qo3SAhXmYpoKHZlwCOIQFggtMAM&url=http%3A%2F%2Fwww.bamse.se%2Fprenumerera%2F&usg=AFQjCNFF5ChvGP3fd2wPQTeFjLXJFA0gMA&sig2=RdNd5bNaXk7kjve0uapadA',
                        'https://www.google.se/url?sa=t&rct=j&q=&esrc=s&source=web&cd=9&cad=rja&uact=8&ved=0ahUKEwj7i5u7qo3SAhXmYpoKHZlwCOIQFghGMAg&url=http%3A%2F%2Fviaplay.se%2Fbarn%2Fbamse&usg=AFQjCNHMDOoR5Pk95gk91azyR9cYpNBsKA&sig2=IOYlcLrF7YoND34iGbWjRQ'
                    ]
                },
                {
                    name: 'Jansson',
                    description: 'Bor hos Farmor',
                    img: 'img/jansson.jpg'
                },
                {
                    name: 'Husmusen',
                    description: 'Bor hos Farmor',
                    img: 'img/husmusen.jpg'
                }
            ];

            $scope.emptyContent = function (name) {

                $scope.lazyContent = '';

                console.log('now is emptyContent() ', name);

            };

            $scope.fillContent = function (paras) {
                $resource('https://baconipsum.com/api/?type=meat-and-filler&format=json').query({sentences: paras * 5}, function (data) {
                    $scope.lazyContent = data[0];

                    $timeout(function () {
                        $scope.lazyContent = '';
                    }, 10000);
                });
            };

            $scope.inlineOpen = function () {
                $resource('https://baconipsum.com/api/?type=meat-and-filler&format=json').query({sentences:  5}, function (data) {
                    $scope.lazyContent = data[0];

                    $timeout(function () {
                        $scope.lazyContent = '';
                    }, 10000);
                });
            };

            $scope.hcOpen = function (text) {
                console.log(text);
            };
        });


</script>

</body>
</html>